
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Nurbek</title>
    <link rel="stylesheet" href="../static/base.css" type="text/css">
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
    <link rel="icon" href="images/title.png" type="image/png" />
  </head>
  <body>
    <header class="header">
      <div class="logo">
        <img src="images/logo.png" alt="" />
      </div>
      <i class="bx bx-menu" id="menu-icon"></i>
      <nav class="navbar">
        <a href="#home" class="active">Home</a>
        <a href="#about">About</a>
        <a href="#services">Services</a>
        <a href="#portfolio">Portfolio</a>
        <a href="#contact">Contact</a>
      </nav>
    </header>
    <!-- Home section design-->
    <section class="home" id="home">
      <div class="home-content">
        <h3>Hello, It's Me</h3>
        <h1>Nurbek Eshkuvvatov</h1>
        <h3>And I'm a <span class="multiple-text"></span></h3>
        <p>
          I am working as a devops engineer and I like this field very much, I
          have successfully completed many projects and I am very proud of it!
        </p>
        <div class="social-media">
          <a
            href="javascript:void(0);"
            onclick="openSocial('https://youtube.com/@matematikani0dano?si=xwth7S5_jpD3JodT')"
            ><i class="bx bxl-youtube"></i
          ></a>
          <a
            href="javascript:void(0);"
            onclick="openSocial('https://t.me/Nurbek_2003')"
            ><i class="bx bxl-telegram"></i
          ></a>
          <a
            href="javascript:void(0);"
            onclick="openSocial('https://t.me/devOps_journey_with_Nurbek')"
            ><i class="bx bxl-instagram"></i
          ></a>
          <a
            href="javascript:void(0);"
            onclick="openSocial('https://www.linkedin.com/in/nurbek-eshquvvatov-681790279/')"
            ><i class="bx bxl-linkedin"></i
          ></a>
        </div>
        <a href="./CV/nurbek_cv.pdf" class="btn" download="nurbek_cv.pdf"
          >Download CV</a
        >
      </div>
      <div class="home-img">
        <img src="images/home.png" alt="" />
      </div>
    </section>

    <!-- About section design-->
    <section class="about" id="about">
      <div class="about-img">
        <img src="images/home2.png" alt="" />
      </div>

      <div class="about-content">
        <h2 class="heading">About <span>Me</span></h2>
        <h3>DevOps Engineer!</h3>
        <p>
          Results-driven DevOps Engineer with over 1 year of hands-on experience
          in managing, automating, and optimizing infrastructure using modern
          DevOps tools and methodologies. Proficient in setting up and managing
          CI/CD pipelines, container orchestration using Kubernetes, and
          monitoring solutions with Prometheus and Grafana. Experienced in
          working with cloud environments, Dockerized applications, and ensuring
          the stability and scalability of deployments. Passionate about
          improving system efficiency, minimizing downtime, and implementing
          Infrastructure as Code (IaC) to automate complex workflows. Known for
          quickly adapting to new tools and technologies in fast-paced
          environments.
        </p>
        <a href="#" class="btn">Read More</a>
      </div>
    </section>

    <!-- Services section design-->
    <section class="services" id="services">
      <h2 class="heading">Our <span>Services</span></h2>
      <div class="services-container">
        <div class="services-box">
          <i class="bx bx-server"></i>
          <h3>DevOps Support</h3>
          <p>
            The services provided are capable and also include 24/7 support,
            customized solutions, multi-stream monitoring and other service
            packages.
          </p>
          <a href="#" class="btn">Read More</a>
        </div>
        <div class="services-box">
          <i class="bx bx-code-alt"></i>
          <h3>Devops Services</h3>
          <p>
            Bringing your project to successful production, ci/cd, monitoring
            and other services. Customize the project according to your
            requirements.
          </p>
          <a href="#" class="btn">Read More</a>
        </div>
        <div class="services-box">
          <i class="bx bx-paint"></i>
          <h3>Project Service</h3>
          <p>
            Ensuring the successful deployment of your project, setting up CI/CD, monitoring, and providing other essential services. Customizing the project to suit your unique needs.
          </p>
          <a href="#" class="btn">Read More</a>
        </div>
      </div>
    </section>

    <!--Portfolio section design-->
    <section class="portfolio" id="portfolio">
      <h2 class="heading">Latest <span>Project</span></h2>
      <div class="portfolio-container">
        <div class="portfolio-box">
        <img src="images/portfolio1.jpg" alt="">
        <div class="portfolio-layer">
        <h4>Growz.io</h4>
        <p>Growz.io is a platform that helps businesses and individuals connect, grow, and achieve their goals through innovative solutions and services. It provides a collaborative environment for users to access resources, share ideas, and grow together in a fast-paced, digital world.</p>
        <a href="https://growz.io" target="_blank"><i class='bx bx-link-external' ></i></a>
        </div>
        </div>

        <div class="portfolio-box">
        <img src="images/portfolio2.jpg" alt="">
        <div class="portfolio-layer">
        <h4>Coozin.uz</h4>
        <p>Coozin.uz is a modern online platform that simplifies and enhances the process of ordering and enjoying delicious food. It connects customers with a variety of restaurants, offering convenient delivery services and a wide range of menu options to meet diverse tastes. Coozin.uz aims to provide a seamless and user-friendly experience for food lovers, ensuring quick and reliable service.</p>
        <a href="https://coozin.uz" target="_blank"><i class='bx bx-link-external' ></i></a>
        </div>
        </div>

        <div class="portfolio-box">
        <img src="images/portfolio3.jpg" alt="">
        <div class="portfolio-layer">
        <h4>Hosildorzamin.uz</h4>
        <p>Hosildorzamin.uz is a digital platform that provides farmers with essential resources and information to improve productivity and ensure sustainability in agriculture.</p>
        <a href="https://hosildorzamin.uz" target="_blank"><i class='bx bx-link-external' ></i></a>
        </div>
        </div>

        <div class="portfolio-box">
        <img src="images/portfolio4.jpg" alt="">
        <div class="portfolio-layer">
        <h4>itechAcademy.uz</h4>
        <p>The itechAcademy project is a plan to automate multiple IT platforms and learning platforms and has its own learning center.</p>
        <a href="https://itechacademy.uz" target="_blank"><i class='bx bx-link-external' ></i></a>
        </div>
        </div>

        <div class="portfolio-box">
        <img src="images/portfolio5.jpg" alt="">
        <div class="portfolio-layer">
        <h4>Wasteless.uz</h4>
        <p>Wasteless.uz is a platform focused on promoting sustainability by reducing waste. It connects users with eco-friendly solutions, providing services and products that help minimize environmental impact and encourage responsible consumption.</p>
        <a href="https://wasteless.uz" target="_blank"><i class='bx bx-link-external' ></i></a>
        </div>
        </div>

        <div class="portfolio-box">
          <img src="images/portfolio6.jpg" alt="" />
          <div class="portfolio-layer">
            <h4>Iqroagency.uz</h4>
            <p>The Iqroagency.uz project is a project designed to automate the field of medicine.</p>
            <a href="https://iqroagency.uz" target="_blank"
              ><i class="bx bx-link-external"></i
            ></a>
          </div>
        </div>
      </div>
    </section>

    <!-- Contact section design-->
    <section class="contact" id="contact">
      <h2 class="heading">Contact <span>Me!</span></h2>
      <div class="contact__form-wrapper">
        <form action="#">
          <div class="input-box">
            <div class="input-field field">
              <input
                type="text"
                placeholder="Full Name"
                id="name"
                class="item"
                autocomplete="off"
              />
              <div class="error-txt">Full Name can't be blank</div>
            </div>

            <div class="input-field field">
              <input
                type="email"
                placeholder="Email Address"
                id="email"
                class="item"
                autocomplete="off"
              />
              <div class="error-txt email">Email Address can't be blank</div>
            </div>
          </div>

          <div class="input-box">
            <div class="input-field field">
              <input
                type="number"
                placeholder="Phone Number"
                id="phone"
                class="item"
                autocomplete="off"
              />
              <div class="error-txt">Phone Number can't be blank</div>
            </div>

            <div class="input-field field">
              <input
                type="text"
                placeholder="Subject"
                id="subject"
                class="item"
                autocomplete="off"
              />
              <div class="error-txt">Subject can't be blank</div>
            </div>
          </div>

          <div class="textarea-field field">
            <textarea
              name=""
              id="message"
              cols="30"
              rows="10"
              placeholder="Your Message"
              class="item"
              autocomplete="off"
            ></textarea>
            <div class="error-txt">Message can't be blank</div>
          </div>

          <button type="submit">Send Message</button>
        </form>
      </div>
    </section>

    <!-- footer design-->
    <footer class="footer">
      <div class="footer-test">
        <p><strong>Nurbek|DarkWeb</strong></p>
      </div>
      <div class="footer-iconTop">
        <a href="#home"><i class="bx bx-up-arrow-alt"></i></a>
      </div>
    </footer>

    <!--smtp-->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://smtpjs.com/v3/smtp.js"></script>
    <!--scroll reveall-->
    <script src="https://unpkg.com/scrollreveal"></script>
    <!--typed js-->
    <script src="https://unpkg.com/typed.js@2.1.0/dist/typed.umd.js"></script>
    <!--custom script-->
    <script src="script.js"></script>
  </body>
</html>
